$defaultColor: #4b8bf4;
@mixin dialog--base {
  width: 500px;
  height: 80%;
  max-height: 600px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
  border-radius: 10px;
  overflow: initial;
  header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    .title{
      display: flex; 
      align-items: center;
      margin-bottom: 0px;
      .logo {
        height:20px;
        width:20px;
        margin-right:10px;
      }
      h3 {
        margin: 0;
        font-size: 16px;
      }
    }
    
  }
}

.btn {
  outline: none;
  border-radius: 4px;
  border: 2px solid $defaultColor;
  background-color: transparent;
  white-space: nowrap;
  padding: 5px;
  &:hover {
    background-color: $defaultColor;
    color: #fff;
  }
  &:disabled {
    background-color: #ccc;
    border-color: #ccc;
    &:hover{
      color: #888;
    }
  }
}

.tooltips {
  position: relative;
  &:hover {
    &::before {
      display: inline-block;
    }
  }
  &::before {
    position: absolute;
    content: attr(tips);
    color: #fff;
    background: rgba($color: #333, $alpha: 0.75);
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 4px);
    font-size: 14px;
    display: none;
    white-space: nowrap;
    padding: 5px;
    z-index: 3;
    border-radius: 2px;
  }
}

.icon-btn {
  position: relative;
  border: none;
  font-weight: bold;
  background-color: transparent;
  appearance: none;
  outline: none;
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
  }

  &::before{
    content: attr(data-title);
    position: absolute;
    color: #fff;
    background: rgba($color: #333, $alpha: 0.75);
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    padding: 5px;
    border-radius: 2px;
    z-index: 3;
  }
  &:hover{
    &::before {
      display: inline;
    }
  }
}

@mixin overlay {
  &::before {
    position: absolute;
    content: attr(tips);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    font-size: 24px;
    color:#fff;
    z-index: 3;
  }
}