@import './share';
.lang-settings-dialog {
  @include dialog--base;
  .body {
    overflow-x: hidden;
    height: calc(100% - 50px);
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      li {
        padding: 8px;
        margin: 5px;
        border: 1px solid $defaultColor;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: $defaultColor;
          color: #fff;
        }
        &.active {
          background-color: $defaultColor;
          color: #fff;
        }
      }
    }
  }
}