.content{
  font-size: 14px !important;
  margin: 10px 10px;
  position:relative;
  padding: 0px 5px;
  background-color: white;
  color: #000;
  max-width: 300px;
  max-height: 200px;
  overflow-x: hidden;
}

.content::-webkit-scrollbar {
  width: 4px;
}
.content::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #ccc;
  border-radius: 4px;
}