body {
  padding: 5px;
  text-align: center;
}

input.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  /*width: 9em;
  height: 4.6em;
  line-height: 4.6em;
  border-radius: 2.3em;*/
  width: 60px;
  height: 31px;
  line-height: 31px;
  border-radius: 15.5px;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 1.3px #eee;
  outline: 1px solid transparent !important;
  cursor: pointer;
  border: none;
  background: transparent;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: box-shadow .3s ease-in-out, padding .25s ease-in-out;
  transition-delay: .1s, 0s;
  /* Animations if supported */
}
input.switch:checked {
  transition-delay: 0s, 0s;
  box-shadow: inset 0 0 0 17px #00c169 !important;
  /*padding-left: 4.4em;*/
  padding-left: 29px;
}
input.switch.hit {
  animation: slide-off .35s ease both;
}
input.switch.hit:checked {
  animation: slide-on  .35s ease both .05s;
}
input.switch::before, input.switch::after {
  content: "";
}
input.switch::after {
  /* Increases hit area */
  position: absolute;
  top: -9.3px;
  left: -9.3px;
  bottom: -9.3px;
  right: -9.3px;
}
input.switch::before {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin: 1.3px 0 0 1.3px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 2.6px 0 rgba(0, 0, 0, 0.2), 0 0 0.6px 0.6px rgba(0, 0, 0, 0.1);
  transition: all .1s ease .1s;
}
input.switch:active::before {
  transition: all .1s ease .05s;
}
input.switch.touch:hover::before {
  transition: all .0s ease .00s;
}
input.switch:active::before, input.switch.touch:hover::before {
  width: 33px;
}
input.switch:active:checked::before, input.switch.touch:hover:checked::before {
  margin-left: -4px;
}

@keyframes slide-on {
  0% {
    padding-left: 0px;
  }
  60% {
    padding-left: 32px;
  }
  100% {
    padding-left: 29.3px;
  }
}
@keyframes slide-off {
  0% {
    padding-left: 29.3px;
    text-indent: 0;
  }
  60% {
    padding-left: 0px;
    text-indent: -2.6px;
  }
  100% {
    padding-left: 0px;
    text-indent: 0;
  }
}
